Checks: '-*,
  clang-*,
  cppcoreguidelines-avoid-*,
  cppcoreguidelines-c-copy-assignment-signature,
  cppcoreguidelines-explicit-virtual-functions,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-macro-usage,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-non-private-member-variables-in-classes,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-pro-*,
  cppcoreguidelines-slicing,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-virtual-class-destructor,
  google-build-*,
  google-explicit-constructor,
  google-readability-*,
  hicpp-new-delete-operators,
  hicpp-use-*,
  llvm-*,
  modernize-avoid-*,
  modernize-deprecated-*,
  modernize-loop-convert,
  modernize-make-*,
  modernize-raw-string-literal,
  modernize-redundant-void-arg,
  modernize-replace-*,
  modernize-return-braced-init-list,
  modernize-shrink-to-fit,
  modernize-unary-static-assert,
  modernize-use-auto,
  modernize-use-bool-literals,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-equals-*,
  modernize-use-nodiscard,
  modernize-use-noexcept,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-transparent-functors,
  modernize-use-uncaught-exceptions,
  modernize-use-using,
  performance-*,
  portability-*,
  readability-avoid-const-params-in-decls,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-container-*,
  readability-convert-member-functions-to-static,
  readability-delete-null-pointer,
  readability-else-after-return,
  readability-function-*,
  readability-identifier-*,
  readability-inconsistent-declaration-parameter-name,
  readability-isolate-declaration,
  readability-magic-numbers,
  readability-make-member-function-const,
  readability-misleading-indentation,
  readability-misplaced-array-index,
  readability-named-parameter,
  readability-non-const-parameter,
  readability-qualified-auto,
  readability-redundant-*,
  readability-simplify-*,
  readability-static-*,
  readability-string-compare,
  readability-suspicious-call-argument,
  readability-uniqueptr-delete-release,
  readability-uppercase-literal-suffix,
  readability-use-anyofallof'
  
WarningsAsErrors: ''