<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Hannah</string>
	<key>CFBundleIconFile</key>
	<string>hannah</string>
	<key>CFBundleIdentifier</key>
	<string>info.minidump.hannah</string>
	<key>CFBundleName</key>
	<string>Hannah</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Hannah</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hannah</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Free Lossless Audio Codec</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>caf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Core Audio Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aac</string>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Advanced Audio Codec</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Apple Lossless Audio Codec</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp1</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>MPEG I/II Layer 1</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>MPEG I/II Layer 2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>MPEG I/II Layer 3</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>MPEG I/II Layer 4</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ape</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Monkey&apos;s Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpc</string>
				<string>mpp</string>
				<string>mp+</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Musepack</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sd2</string>
				<string>l</string>
				<string>r</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Sound Designer II</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>snd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>NeXT/Sun Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aif</string>
				<string>aiff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Audio Interchange File Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oga</string>
				<string>ogg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Ogg Vorbis</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Speex</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tta</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>True Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Microsoft Wave</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>WavPack</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>it</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Impulse Tracker Sequenced Module</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mo3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>MO3 Module</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mod</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>ProTracker / FastTracker</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mtm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>MultiTracker Module</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>s3m</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>ScreamTracker 3</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>umx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Unreal Music</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>FastTracker 2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ay</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>ZX Spectrum, Amstrad CPC</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gbs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Nintendo Game Boy</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gym</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Sega Genesis, Mega Drive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hes</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>NEC TurboGrafx-16, PC Engine</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kss</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>MSX Home Computer, other Z80 systems</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nsf</string>
				<string>nsfe</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Nintendo NES, Famicom</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sap</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Atari systems using POKEY sound chip</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>spc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Super Nintendo, Super Famicom</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vgm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Sega Master System, Mark III, Sega Genesis, Mega Drive, BBC Micro</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cue</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>CUE Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m3u</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>M3U Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m3u8</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>M3U Playlist UTF-8</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pls</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>PLS Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xspf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>XSPF Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>opus</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>IETF opus lossy file copressed file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>NSBinaryStoreType</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ra</string>
				<string>rm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>RealMedia Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wma</string>
				<string>asf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hannah</string>
			<key>CFBundleTypeName</key>
			<string>Windows Media Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Search With Hannah</string>
			</dict>
			<key>NSMessage</key>
			<string>search</string>
			<key>NSPortName</key>
			<string>Hannah</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open URL in Hannah</string>
			</dict>
			<key>NSMessage</key>
			<string>openUrl</string>
			<key>NSPortName</key>
			<string>Hannah</string>
			<key>NSRequiredContext</key>
			<array>
				<dict>
					<key>NSTextContent</key>
					<string>URL</string>
				</dict>
				<dict>
					<key>NSLinkSchemes</key>
					<array>
						<string>http</string>
						<string>https</string>
					</array>
				</dict>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open Link in Hannah</string>
			</dict>
			<key>NSMessage</key>
			<string>openLink</string>
			<key>NSPortName</key>
			<string>Hannah</string>
			<key>NSRequiredContext</key>
			<array/>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFDPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>NSTimeout</key>
			<string>120000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Hannah add all music in folder to Playlist</string>
			</dict>
			<key>NSMessage</key>
			<string>appendToPlaylist</string>
			<key>NSPortName</key>
			<string>Hannah</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Hannah clear Playlist and add all music in folder</string>
			</dict>
			<key>NSMessage</key>
			<string>clearAndAddToPlaylist</string>
			<key>NSPortName</key>
			<string>Hannah</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.folder</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Hannah add to Playlist</string>
			</dict>
			<key>NSMessage</key>
			<string>appendToPlaylistFile</string>
			<key>NSPortName</key>
			<string>Hannah</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.pls-playlist</string>
				<string>public.m3u-playlist</string>
				<string>public.audio</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Hannah clear Playlist and add file</string>
			</dict>
			<key>NSMessage</key>
			<string>clearAndAddToPlaylistFile</string>
			<key>NSPortName</key>
			<string>Hannah</string>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.pls-playlist</string>
				<string>public.m3u-playlist</string>
				<string>public.audio</string>
			</array>
			<key>NSSendTypes</key>
			<array/>
		</dict>
	</array>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 . All rights reserved.</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>NOTE</key>
	<string>This file was generated by Qt/QMake.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
